{% extends "coverit/base.html" %}
{% block content %}
<div class="container px-5 py-5  mx-5">
  <form method="POST" style="background-color: rgb(108 101 101);" class=" shadow  mb-5  rounded p-4">
  {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Cover title</label>
      {{form.title}}
      <div id="emailHelp" class="form-text">Give any title like python-cover, frontend-cover-letter etc.</div>
    </div>
    <div class="mb-3">
      <label class="form-label text-w1">Content for letter*</label>
      {{form.contents}}
    </div>
    <button type="submit" class="btn btn-secondary border">Create Cover</button>
  </form>
</div>
{% endblock content %}