{% extends "coverit/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

    <!--Hero Section-->
    <div style="background-color: antiquewhite;">
        <div class="container">
          <div class="row align-items-center pt-4 pb-3">
            <div class="col-md-6 mb-4">
              <div class="hero-text-heading mt-3">
                <h3 class="display-4 fw-bold">Create a <br> Stunning Cover</h3>
                <p class="fw-semibold fs-5 mb-4">
                  Elevate Your Job Search with Our Expertly Crafted Cover Letter Templates. Unlock the Secrets to Impressing Hiring Managers.
                </p>
              </div>
              <div class="pt-4 pb-4">
                <a type="button" class="btn btn-dark" href="{% url "create_cover" %}">Get Started</a>
                <p class="fw-semibold fs-5 font-monospace mt-3">Tool's that productive ease.</p>
                <div class="fade-animo fs-6 ">
                  <p>No account needed <i class="ri-check-double-line fs-5"></i></p>
                  <p>Free to use <i class="ri-creative-commons-nc-line fs-5"></i></p>
                  <p>Download as PDF <i class="ri-download-lin fs-5"></i></p>
              </div>
              </div>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" src="{% static 'public/coverit/img/HERO-IMG.png' %}" alt="Hero Image">
            </div>
          </div>
        </div>
      </div>
      
      
      <!--Second Section-->
      <section class="pb-5 bg-light-1">
        <div class="d-flex flex-column">
          <div class="text-heading text-center" style="padding-top: 5%; padding-bottom: 3%;">
           <h2 class="display-4 fw-semibold">Crafting the Perfect <br> Cover Letter: A </h2>
      
          </div>
      
      
       <!-- Three Section -->
      <div class="container text-center my-4">
        <div class="row d-flex">
          <!-- First Column -->
          <div class="col p-3">
            <!-- Orange Background Div -->
            <div class="rounded bg-orion-1 d-flex justify-content-center" style=" padding: 2px;  align-items: center; margin-bottom: 10px;">
              <i class="ri-hand-heart-line ft-2 text-white"></i>
            </div>
            <!-- Apply flip hover on this div -->
            <div class="box-flip" 
                 onmouseover="this.style.transform='translateY(-10px) rotateX(5deg)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)'; this.querySelector('.b-circle-ganime-1').style.animation='loading 1.5s linear infinite';" 
                 onmouseout="this.style.transform='translateY(0) rotateX(0)'; this.style.boxShadow='none'; this.querySelector('.b-circle-ganime-1').style.animation='none';">
              <!-- Gradient Border Animation -->
              <div class="b-circle-ganime-1">
              </div>
              <h4 class="text-greadient-1">
                Tailor-made for
              </h4>
              <span style="font-size: 1.2rem; color: var(--bs-secondary);">Stand-out</span>
              <div class="d-flex justify-content-center align-items-center mt-3">
                <i class="bi bi-pencil-square me-2"></i> <!-- Bootstrap icon example -->
                <i class="bi bi-gear-fill"></i>
              </div>
            </div>
          </div>
      
          <!-- Second Column -->
          <div class="col p-3">
            <!-- Success Background Div -->
            <div class="rounded" style="background-color: #28a745; padding:2px;  display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
              <i class="ri-double-quotes-r ft-2 text-white"></i>
            </div>
            <!-- Apply flip hover on this div -->
            <div class="box-flip" 
                 onmouseover="this.style.transform='translateY(-10px) rotateX(5deg)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)'; this.querySelector('.b-circle-ganime-1').style.animation='loading 1.5s linear infinite';" 
                 onmouseout="this.style.transform='translateY(0) rotateX(0)'; this.style.boxShadow='none'; this.querySelector('.b-circle-ganime-1').style.animation='none';">
              <!-- Gradient Border Animation -->
              <div class="b-circle-ganime-1" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 8px; border: 2px solid; opacity: 0; background: linear-gradient(90deg, #f00, #00f); clip-path: circle(0% at 50% 50%); transition: opacity 0.3s;">
              </div>
              <h4 class="text-greadient-1" >
                Highlighting
              </h4>
              <span style="font-size: 1.2rem; color: var(--bs-secondary);">Showcasing Yourself</span>
              <div class="d-flex justify-content-center align-items-center mt-3">
                <i class="bi bi-star me-2"></i>
                <i class="bi bi-award"></i>
              </div>
            </div>
          </div>
      
          <!-- Third Column -->
          <div class="col p-3">
            <!-- Primary Background Div -->
            <div class="rounded bg-blue-1 d-flex justify-content-center" style="padding: 2px;align-items: center; margin-bottom: 10px;">
              <i class="ri-links-fill ft-2 text-white" ></i>
              
            </div>
            <!-- Apply flip hover on this div -->
            <div class="box-flip" 
                 onmouseover="this.style.transform='translateY(-10px) rotateX(5deg)'; this.style.boxShadow='0 8px 16px rgba(0, 0, 0, 0.2)'; this.querySelector('.b-circle-ganime-1').style.animation='loading 1.5s linear infinite';" 
                 onmouseout="this.style.transform='translateY(0) rotateX(0)'; this.style.boxShadow='none'; this.querySelector('.b-circle-ganime-1').style.animation='none';">
              <!-- Gradient Border Animation -->
              <div class="b-circle-ganime-1" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 8px; border: 2px solid; opacity: 0; background: linear-gradient(90deg, #f00, #00f); clip-path: circle(0% at 50% 50%); transition: opacity 0.3s;">
              </div>
              <h4 class="text-greadient-1">
                Share
              </h4>
              <span style="font-size: 1.2rem; color: var(--bs-secondary);">Social Share Link</span>
              <div class="d-flex justify-content-center align-items-center mt-3">
                <i class="bi bi-share me-2"></i>
                <i class="bi bi-link"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </section>
      
      <!--Section Three-->
      <section class="pb-5">
        <div class="container">
          <div class="row gap-2 "> <!-- Align items vertically in the center -->
            <div class="col-md-6 p-4"> <!-- Set the column width for the image -->
             <div class="">
              <img src=" {% static 'public/coverit/img/section3.webp' %}" class="img-fluid h-100 w-100 " alt="Image description" > <!-- Responsive image -->
      
             </div>
            </div>
            <div class="col-md-auto"> <!-- Text occupies the remaining space -->
              <div class="text-heading " style="padding-top: 20%; padding-bottom: 3%;">
                <h2 class="display-4 fw-semibold">Unleash Your <br> Cover Letter</h2>
                <p class="lh-base text-break fs-5 pt-2" style="width: 20rem;">
                  Transform Your Job Search with Our Cutting-Edge Cover Letter Solutions. Elevate Your Application and Secure Your Dream Role.
                </p>
      
                <div class="pt-4 pb-4">
                  <button type="button" class="btn btn-success fw-semibold">Create First Cover</button>
                
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <!-- #Section Four -->
      <section class="py-4 bg-light-2"  >
        <div class="container-fluid ">
          <div class="row justify-content-center "> <!-- Align items vertically in the center -->
            <div class="col-md-auto"> <!-- Text occupies the remaining space -->
              <div class="text-heading ">
                <p class="lh-base text-break fs-5 pt-1 pb-1" style="width: 20rem;">
                  Unlock the Power of a Standout Cover Letter
                </p>
                <h2 class="display-4 fw-semibold">Crafting Cover </h2>
                <p class="lh-lg text-break fs-5 pt-2" style="width: 25rem;">
                  Elevate Your Job Search with Personalized Cover Letter Assistance.
                </p>
      
                <div class=" d-flex justify-content-evenly py-2">
                  <div class="flex-item ">
                    <span class="text-greadient-1">• Craft Your Own</span>
                  </div>
                  <div class="flex-item px-1">
                    <span class="text-greadient-1"> • Organize Job Search</span>
                  </div>
                  <div class="flex-item px-1">
                    <span class="text-greadient-1"> • Time-Saving</span>
                  </div>
                </div>
      
                <div class="pt-4 pb-4">
                  <button type="button" class="btn btn-success fw-semibold">Create First Cover</button>
                
                </div>
                
              </div>
            </div>
            <div class="col-md-6 " style="height: 100%;"> <!-- Set the column width and height -->
              <div style="height: 100%;">
                  <img src="{% static 'public/coverit/img/section4.webp' %}" class="w-100 h-100" style="object-fit: cover;" alt="Image description">
              </div>
          </div>
          
          </div>
        </div>
      </section>
      
      <!--#Secton Fve-->
      
      <!-- #Section  -->
      <section class="py-4 bg-light-1">
        <div class="container-fluid">
          <div class="row justify-content-center text-center object-contain" 
               style="background-image: url('{% static 'public/coverit/img/section5.webp' %}'); background-size: auto 100%; background-repeat: no-repeat; background-position: right center;">
            <!-- Align items vertically in the center -->
            <div class="col-md-auto">
              <!-- Text occupies the remaining space -->
              <div class="text-heading text-center" style="padding-top: 5%; padding-bottom: 3%;">
                <h2 class="display-4 fw-semibold">Organize Your <br> Job Search</h2>
              </div>
              <div class="pt-4 pb-4">
                <div class="d-flex justify-content-center gap-2">
                  <div class="border border-black px-4 py-3 ">
                    <i class="ri-compasses-2-line" style="font-size: 1.5rem;"></i>
                    <p class="lh-base text-break" style="width: 9rem;">Personalized</p>
                  </div>
                  <div class="border border-black px-4 py-4">
                    <i class="ri-verified-badge-line" style="font-size: 1.5rem;"></i>
                    <p class="lh-base text-break" style="width: 9rem;">Expert</p>
                  </div>
                  <div class="border border-black px-4 py-4">
                    <i class="ri-tools-fill" style="font-size: 1.5rem;"></i>
                    <p class="lh-base text-break" style="width: 9rem;">Ease Tool</p>
                  </div>
                  <div class="border border-black px-4 py-4">
                    <i class="ri-award-line" style="font-size: 1.5rem;"></i>
                    <p class="lh-base text-break" style="width: 9rem;">Achieve Your</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--Section 6-->
      <section class="px-15">
        <div class="container-fluid">
          <div class="row  flex-nowrap">
      
            <div class="col  flex-nowrap p-0">
              <img class="img-fluid w-100" src="{% static 'public/coverit/img/section6.webp' %}">
      
            </div>
      
            <div class="col px-4"> <!-- Text occupies the remaining space -->
              <div class="text-heading " style="padding-bottom: 1%;">
                <p class="text-break fs-4 " style="width: 20rem;">
                  The Future of Cover Letters
                </p>
                <h2 class="display-4 fw-semibold"> Revolutionize <br> Your Job</h2>
      
                <p class="lh-base text-break fs-5 " style="">
                  Discover the Transformative Power of a Customized Cover Letter. Craft, List, Apply ~ <cite class="fs-6 pt-1">Ease the productivity of day.</cite>
                </p>
                
      
                <div class="pt-4 pb-4">
                  <button type="button" class="btn btn-success fw-semibold">Let's Make Now</button>
                
                </div>
                
              </div>
            </div>
      
          </div>
        </div>
      
        <div class="container py-5 my-5">
          <div class="row justify-content-center"> <!-- Center the row -->
        
            <div class="col"> <!-- Text occupies the remaining space -->
              <div class="text-heading" style="padding-bottom: 1%; margin-top: 40px;"> <!-- Increased margin-top to move text down -->
                <p class="text-break fs-5" >Elevate Your Cover Letter Game </p>
                <h2 class="display-4 fw-semibold" style="margin-top:6px;"> <!-- Adjust margin to push the text lower -->
                  Unlock Your Full <br> Potential
                </h2>
        
                <p class="lh-base text-break fs-5">
                  Crafting the Perfect Cover Letter: A Personalized Approach to Showcase Your Unique Qualifications and Secure Interviews.
                </p>
        
                <div class="pt-4 pb-4">
                  <button type="button" class="btn btn-success fw-semibold">Apply Today</button>
                </div>
              </div>
            </div>
        
            <div class="col d-flex justify-content-center align-items-start"> <!-- Center the image -->
              <img class="img-fluid" src="{% static 'public/coverit/img/section7.webp' %}" style="width: 60%; margin-top: -80px;"> <!-- Set width to 60% and use a larger negative margin -->
            </div>
        
          </div>
        </div>
      
      
        <div class="container">
          <div class="row justify-content-center">
      
            <div class="col  flex-nowrap p-0">
              <img class="img-fluid w-100" src="{% static 'public/coverit/img/section8.webp' %}">
      
            </div>
      
            <div class="col px-4"> <!-- Text occupies the remaining space -->
              <div class="text-heading " style="padding-bottom: 1%;">
              
                <h2 class="display-4 fw-semibold"> Unleash <br>Your Cover </h2>
      
                <p class="lh-base text-break fs-5 " style="">
                  Streamline your day and job applications with our powerful<cite class="fs-4 pt-1"> tools</cite> and tailored <cite class="fs-4">cover letter solutions.</cite>
                
      
                <div class="pt-4 pb-4">
                  <button type="button" class="btn btn-success fw-semibold">Let's Make Now</button>
                
                </div>
                
              </div>
            </div>
      
          </div>
        </div>
        
      </section>



{% endblock content %}