{% extends "coverit/base.html" %}

{% block content %}

<div class="container mb-5 py-md-5">
  {% if anchor %}
    <div class="row">
    {% for task in anchor  %}
      <!-- Card 1 -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 gap-2 m-2">
        <div class="card  shadow-lg " style="width: 18rem;">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{forloop.counter}}. {{task.name}}</h5>
             
              <div class="dropdown bone-hover ">
                <i type="button" data-bs-toggle="dropdown" aria-expanded="false" class="lni lni-menu-meatballs-1 fs-5 "></i>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "timeline:task_add" id=task.id %}">Edit</a></li>
                  <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
              </div>
            </div>
            <!-- List with Checkboxes -->
             
            <ul class="list-group list-group-flush">
              {% for item in task.listitem_set.all %}
                <li class="list-group-item bg-transparent">
                  <input type="checkbox" id="checkbox{{ item.id }}" {% if item.done %}checked{% endif %}>
                  <label for="checkbox{{ item.id }}">{{ item.name }}</label>
                </li>
              {% endfor %}
            </ul>
  
           
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>not found any task .please create one</h3>
      {% endif %}
  
      <!-- Add more cards as needed -->
    </div>
  </div>
  
{% endblock content %}
