
{% extends '_base.html' %}


{% block content %}
<h4 class="fs-4 text-left">About This Project</h4>
<div class="card">
    <div class="card-body">
        <p>
       

            This is a personal project aimed at solving specific problems and sharing useful tools with the community. These tools are developed in my spare time and are provided free of charge. 
            
          
            
            Please note that these tools are hosted on free servers and third-party platforms. This means that there may be limitations in terms of reliability and security. 
            
          
            
            I encourage you to explore the tools, provide feedback, and contribute to the project's growth. Your input is invaluable in shaping the future of these tools. 
            
                </p>
    </div>
  </div>


{% endblock content %}
    