{% extends '_base.html' %}

{% block content %}
  <h4 class="fs-4 text-left">Privacy Polices of  This Project</h4>
  <div class="card">
    <div class="card-body">
     
      
      <p>We respect your privacy. This Privacy Policy outlines how we collect, use, and protect your personal information when you visit and use our website.</p>
      
      <h3>Information We Collect</h3>
      
      <p>We may collect the following information:</p>
      
      <ul>
          <li><strong>Log Data:</strong> This includes your IP address, browser type, operating system, referring pages, pages visited, and time spent on our website. This data is collected automatically and used for analytical purposes to improve our website.</li>
          <li><strong>Cookies and Similar Technologies:</strong> We may use cookies and similar technologies to collect information about your browsing behavior on our website. This information helps us understand user preferences and tailor our services accordingly. You can usually control and manage cookies through your browser settings.</li>
      </ul>
      
      <h3>How We Use Your Information</h3>
      
      <p>We use the collected information for the following purposes:</p>
      
      <ul>
          <li><strong>Website Improvement:</strong> To analyze website traffic, identify trends, and improve our website's functionality and user experience.</li>
          <li><strong>Marketing and Analytics:</strong> To understand user behavior and preferences, and to tailor our marketing efforts.</li>
          <li><strong>Compliance with Legal Obligations:</strong> To comply with applicable laws and regulations.</li>
      </ul>
      
      <h3>Data Sharing and Disclosure</h3>
      
      <p>We do not sell, rent, or share your personal information with any third parties for their marketing purposes. We may share your information with trusted third-party service providers who assist us in operating our website, such as analytics providers. These providers are bound by confidentiality agreements and are prohibited from using your information for any other purpose.</p>
      
      <h3>Data Security</h3>
      
      <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure. Therefore, we cannot guarantee the absolute security of your information.</p>
      
      <h3>Third-Party Hosting</h3>
      
      <p>To enhance our service and provide a reliable platform, we utilize a third-party hosting provider. This provider operates on a non-profit basis and does not impose any limitations on our services. As a result, we are not directly responsible for any potential failures or data breaches that may occur on their end.</p>
      
      <h3>Changes to This Privacy Policy</h3>
      
      <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting a notice on our website or by other means.</p>
    </div>
  </div>
{% endblock %}
