{% load static %}
<footer class="bg-dark text-light py-5">
    <div class="container-fluid px-4">
        <div class="row gap-1">
            <!-- Column 1 -->
            <div class="col-md-6 col-lg-3">
                <h5><img class="img-fluid object-fit" width="150" src="{% static "public/core/logo-transparent-white-png.png" %}" alt="Navbar"></h5>

            </div>

            <!-- Column 2 -->
            <div class="col-md-6 col-lg-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Privacy policy</a></li>
                </ul>
            </div>

            <!-- Uncomment below when you need all four columns -->
            <!-- Column 3 -->
            <!-- 
            <div class="col-md-6 col-lg-3">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Web Design</a></li>
                    <li><a href="#" class="text-light text-decoration-none">SEO</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Marketing</a></li>
                </ul>
            </div>
            -->

            <!-- Column 4 -->
            <!-- 
            <div class="col-md-6 col-lg-3">
                <h5>Contact Us</h5>
                <p>Email: info@example.com</p>
                <p>Phone: +123 456 7890</p>
            </div>
            -->
        </div>
    </div>
    
</footer>