    <!-- As a heading -->
    <nav class="navbar text-s1 text-w1 bg-body-tertiary border-bottom py4">
        <div class="container text-center">
            <div class="row w-100">
                <div class="col">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1">Navbar</span>
                    </div>
                </div>
                <div class="col-6 col-md-8 col-sm-12">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tbtn-def" href="/made-cover">Cover</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="col ms-auto text-end">
                    <button class="bg-gredient-dark btn btn-dark">Log in</button>
                </div>
            </div>
        </div>
    </nav>
    
<!--Navbar-->