<!-- Container for the whole layout -->

    <!-- Sidebar -->
    <aside class="bg-dark text-light d-flex flex-column " style="width: 250px; height: -webkit-fill-available;">
    <div class="container h-100">
      <div class=" flex-column mb-5  border-bottom ">
        <a href="" class="fs-4  fwt-semibold  text-decoration-none text-light p-1">
          BootCover Admin
        </a>
        </div>
        <ul class="nav flex-column flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="#">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">
              Customers
            </a>
          </li>
        </ul>
    </div>
    </aside>
