
<footer class="bg-dark text-light py-5 px-3" >
    <div class="container">
      <div class="row d-flex justify-content-between">
        <!-- First Flex Item: Logo and All Rights Reserved -->
        <div class="col-lg-4 mb-3">
          <div class="d-flex flex-column">
            <p class="fs-2">Coverit</p>
            {% comment %} <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Cover Pilot" class="img-fluid mb-2" style="width: 150px;"> {% endcomment %}
            <p>© 2024 All rights reserved.</p>
            
          </div>
        </div>
  
       
  
        <!-- Third Flex Item: Tools -->
        <div class="col-lg-2 mb-3">
          <h5>Quick</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'index' %}" class="text-white text-decoration-none">Home</a></li>
            <li><a href="{% url 'about' %}" class="text-white text-decoration-none">About</a></li>
          </ul>
        </div>
  
        <!-- Fourth Flex Item: Helps -->
        <div class="col-lg-2 mb-3">
          <h5>Helps</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'privacy-polices' %}" class="text-white text-decoration-none">Privacy</a></li>
            <li><a href="#" class="text-white text-decoration-none">Ads</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class=""></div>
      <div class="p-2">
        <a href="https://github.com/Ardhweb" style="font-size:13px;" class="text-white  text-decoration-none"  disabled href="">Hire me! dev@ardhweb</a>
      </div>
    </div>
  </footer>