<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand float-start" href="/">
            Coverit
            {% comment %} <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Cover Pilot" width="30" height="24"> {% endcomment %}
           
        </a>
        <nav class="nav float-start">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ToolBox</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'create_cover' %}">Cover-Letter</a></li>
                  <li><a class="dropdown-item" href="{% url 'password-generator' %}">Random Password</a></li>
                  {% comment %} <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li> {% endcomment %}
                </ul>
              </li>
        </nav>
        <div class="float-end">
            {% if request.user.is_authenticated %}
            <a href="{% url 'cover_listing' %}" type="button" class="btn btn-primary btn-sm">Admin</a>
            {% if user.is_superuser %}
            {% endif %}
            <a href="{% url 'cover_listing' %}" type="button" class="btn btn-primary btn-sm">Your Letter's</a>
            <a type="button" class="btn btn-danger btn-sm" href="{% url 'accounts:logout' %}">Log-out</a>
            {% else %}
            <a type="button" class="btn btn-secondary btn-sm">Sign-up</a>
            <a type="button" class="btn btn-secondary btn-sm" href="{% url 'accounts:login' %}" >Login</a>
            {% endif %}
        </div>
    </div>
</nav>