<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand float-start" href="/">
            Coverit
            {% comment %} <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Cover Pilot" width="30" height="24"> {% endcomment %}
           
        </a>
        <nav class="nav float-start">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </nav>
        <div class="float-end">
            <button type="button" class="btn btn-secondary btn-sm">Sign-up</button>
        </div>
    </div>
</nav>