
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% include "global.html" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <style>
 
    #root > * {
        transform: translateX(0); /* Initial position */
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for horizontal movement and opacity */
        opacity: 1;
    }

    /* Hidden state */
    .d-none {
        transform: translateX(100%); /* Move out of the view to the right */
        opacity: 0; /* Fades out as it moves */
    }
   </style>
</head>



<body class="bg-green-50">
    

    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>




<script>
    // Get the root element's first child and the button
    const rootElementFirstChild = document.getElementById('root').firstElementChild;
    const button = document.getElementById('sidepane-btn');

    // Add an event listener for the button click
    button.addEventListener('click', function() {
        // Toggle the 'd-none' class on the root element's first child
        rootElementFirstChild.classList.toggle('d-none');
    });
</script>
{% include 'gtm.html' %}
</body>

</html>