
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    {% include "global.html" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <style>

    #root > * {
        transform: translateX(0); /* Initial position */
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for horizontal movement and opacity */
        opacity: 1;
    }

    /* Hidden state */
    .d-none {
        transform: translateX(100%); /* Move out of the view to the right */
        opacity: 0; /* Fades out as it moves */
    }
   </style>
</head>



<body class="bg-green-50">
    
   
{% include "utility/nav.html" %}
{% include "component/buttons.html" %}
<div id="top-main-bar" class="container-fluid m-4">
    <div class="d-flex">
        <button id="sidepane-btn" class="tbtn-def">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filter-left " viewBox="0 0 16 16">
                <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
              </svg>
            </button>
    </div>
</div>
<main class="row m-2" id="root">
   <div class="col-md-auto d-none mt-4">
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
  

      
     
</div>
   </div>
   <div class="col">
    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>
   </div>
</main>



<script>
    // Get the root element's first child and the button
    const rootElementFirstChild = document.getElementById('root').firstElementChild;
    const button = document.getElementById('sidepane-btn');

    // Add an event listener for the button click
    button.addEventListener('click', function() {
        // Toggle the 'd-none' class on the root element's first child
        rootElementFirstChild.classList.toggle('d-none');
    });
</script>

</body>

</html>