<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    :root{
        --bg-light1:#ececec;
        --bg-white:#ffffff;
        --bc-1:#d6d4d4; /*bc: border-color*/
    }
    body{
        font-family:Rubik!important;
        font-weight: 100!important;
 
    }
    h1{
        color:red;
        font-family:Rubik;
        font-weight:normal;
    }
    a{
        color:inherit!important;
        text-decoration:inherit!important;
    }
    /*
    padding*/
    .py3{
        padding-top:0.425rem!important;
        padding-bottom:0.425rem!important;

    }
    .py4{
        padding-top:0.815rem!important;
        padding-bottom:0.815rem!important;
    }

    /*text-sizes*/
    .text-s1{
        font-size:.888rem!important
    }

    .text-w1{
        font-weight:500!important;
    }

    /*Buttons*/
    .tbtn-def{
        /* background-color:var(--bg-light1)!important */
        background-color: #ececec!important;
        border:1px solid #d6d4d4!important;
        font-size:14px!important;
        align-items:center!important;
        justify-content: center!important;
        text-align: center!important;
        border-radius: 0.630rem!important;
        padding: 0.525rem 0.425rem 0.525rem 0.425rem !important;
        box-sizing: border-box!important;
        overflow: hidden!important;
    }
    .t-btnorm{
        background-color: #ffffff!important;
        border:1px solid #d6d4d4!important;
        color:inherit!important;
        font-size:14px!important;
        align-items:center!important;
        justify-content: center!important;
        text-align: center!important;
        border-radius: 0.630rem!important;
        padding: 0.525rem 0.425rem 0.525rem 0.425rem !important;
        box-sizing: border-box!important;
        overflow: hidden!important;
        line-height:1.5;

    }

    .t-btnorm:hover{
        background-color: #ececec!important;
    }

    .t-btnorm1{
        background-color: #177373!important;
        border:1px solid transparent!important;
        color: #ffffff!important;
        font-size:14px!important;
        align-items:center!important;
        justify-content: center!important;
        text-align: center!important;
        border-radius: 0.630rem!important;
        padding-left:0.85rem!important;
        padding-right:0.85rem!important;
        padding-top:0.45rem!important;
        padding-bottom:0.45rem!important;
        box-sizing: border-box!important;
        overflow: hidden!important;
        line-height:1.5;

    }

    /*border:color, radius,*/
</style>